input[type="number"] {
    width: 150px; 
    padding: 10px; 
    margin-right: 10px; 
}

body {
    background-color: rgb(116, 248, 242);
}

button {
    width: 150px; 
    padding: 20px;
}


#resultado {
    margin-top: 10px;
    font-size: 20px;
}
